# Logs
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

/client/node_modules
/client/dist
/client/dist-ssr
/client/*.local

/client/release

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/server/build
/server/dist
/server/venv
/server/**/*.exe
/server/*.spec
__pycache__/
*.pyc
